# Configuracion del servidor dhcp con kea
# Victor Martinez Martinez - 2º ASIR

{
	"Dhcp4": {
        "interfaces": [ "enp1s0" ],
        "dhcp-socket-type": "raw"
	},
    "valid-lifetime" : 4000,
    "renew-timer": 1000,
    "rebind-timer": 2000,

    "subnet4": [
    {
    "subnet": "192.168.10.0/24",
    "pools": [ { "pool": "192.168.10.50-192.168.10.200" } ]
    }],

    "option-data": [
        {
        "name": "routers",
        "data": "192.168.10.1"},

        {
        "name": "domain-name-servers", 
        "data": "192.168.10.1"}
        ]
}
